.counterWrapper {
    background-color: rgb(93, 139, 93);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    
}
.notesWripper {
    background-color: rgb(143, 144, 188);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.notesWripper ul {
    list-style: none;
}